<ion-view title="Tandoori (Clay Oven)" id="" hide-nav-bar="true">
<ion-header-bar align-title="center" class="bar-light">
  <div class="buttons">
    <button ng-click="$ionicGoBack()" ui-sref="menu.mainMenu" class="button back-button buttons  button-clear header-item" style=""><i class="icon ion-android-arrow-back"></i></button>
  </div>
  <h1 class="title">Hlanvin & Fils</h1>
  <div class="buttons">
  	<button class="button button-clear button-positive white_txt ion-bag" style="color:#29e6f2; display:none;" ui-sref="menu.cart"><b class="cart_itm">3 items</b></button>
  </div>
</ion-header-bar>

    <ion-content style="background:#fff;" class="has-header" padding="false">

    <div class="restaurant_list">
<div ui-sref="menu.menuFood" style="display:block;"> <img style="display: block; margin-left: auto; margin-right: auto;" src="img/wine1.jpg" height="auto" width="220px">
<button class="heart_icon" style="display:none;"><img width="20px" src="img/heart.png"></button>
  <div class="restaurant_con">

            <h1 style="margin-bottom:0px;">
              
              Hlanvin</h1>
              <h4 style="display:none;">$ 50.00</h4>
            </div>

            <div class="ratting" style="display:none;"> 
            <i class="ion-ios-star user_ratting active"></i> 
            <i class="ion-ios-star user_ratting"></i> 
            <i class="ion-ios-star user_ratting"></i> 
            <i class="ion-ios-star user_ratting"></i> 
            <i class="ion-ios-star user_ratting"></i> 
            </div>
      
  </div>
</div>

        <div class="button-bar">
          <a class="button icon-left ion-ios-star-outline button-stable buttonfav" style="font-size:12px; display:none;">ADD TO FAVOURITE</a>
          <a class="button icon-left fa fa-thumbs-o-up button-assertive buttonfav" style="background:#29e6f2; font-size:14px; padding:0 92px"  ui-sref="menu.confirmation">I m Ready</a>
        </div>
        
        
        <div class="padding">
        	<h4>Description</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
        
        
        
    <div class="padding">
    
    	<div class="commentssec" style="display:none;">
        	<h4>Comments (324)</h4>
            
            <div class="list">

    <a class="item comment_list item-avatar" href="#">
      <img src="img/user1.jpg">
      <div class="com_list">
      	<span class="post_time"><i class="ion-ios-timer-outline"></i>3h</span>
          <h2>Venkman</h2>
          <p>Easily create Windows 8 Metro UI-style websites with this templating framework.</p>
      </div>
    </a>

    <a class="item comment_list item-avatar" href="#">
      <img src="img/user1.jpg">
      <div class="com_list">
      	<span class="post_time"><i class="ion-ios-timer-outline"></i>3h</span>
          <h2>Venkman</h2>
          <p>Easily create Windows 8 Metro UI-style websites with this templating framework.</p>
      </div>
    </a>
    <a class="item comment_list item-avatar" href="#">
      <img src="img/user1.jpg">
      <div class="com_list">
      	<span class="post_time"><i class="ion-ios-timer-outline"></i>3h</span>
          <h2>Venkman</h2>
          <p>Easily create Windows 8 Metro UI-style websites with this templating framework.</p>
      </div>
    </a>
    <a class="item comment_list item-avatar" href="#">
      <img src="img/user1.jpg">
      <div class="com_list">
      	<span class="post_time"><i class="ion-ios-timer-outline"></i>3h</span>
          <h2>Venkman</h2>
          <p>Easily create Windows 8 Metro UI-style websites with this templating framework.</p>
      </div>
    </a>

</div>
        </div>
    
    </div>
      
      
    </ion-content>
    
    
    
    
</ion-view>