<ion-view style="" id="page3" title="Step1">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 83px;" class="spacer"></div>
        <div style="color:#000000;text-align:center;" id="step1-markdown1">
            <p>Please provide us your mobile <br />number</p>
        </div>
        <div style="width: 283px; height: 40px;" class="spacer"></div>
        <form class="list" id="step1-form2">
        	<label id="step1-input6" class="item-input input_border" style="width:20%; text-align:center; float:left; border-right:1px solid #ddd;">
            	<input placeholder="+1" type="text" style="width:50px;border-right:none; padding-right: 0px; font-size: 20px; text-align:center;">
            </label>
            <label id="step1-input6" class="item-input input_border" style="width:80%; float:left; padding-left:20px; font-size: 14px; ">
                <input placeholder="Mobile Number" type="number" style="font-size: 14px; ">
            </label>
        </form>
        <div style="width: 283px; height: 27px;" class="spacer"></div>
        <div class="custom_padding">
        <a class="button button_purpel  button-block" style="border-radius:0px 0px 0px 0px;" id="step1-button4" ui-sref="menu.finalStep">NEXT</a>
        </div>
        <button class="button button-dark button_txt button-block button-clear" id="step1-button5">Already have An Account? <span>Sign In</span></button>
    </ion-content>
</ion-view>