<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>834655197535-vp8mtrstdhcbqf13qcmj8hi13jdfue37.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834655197535-vp8mtrstdhcbqf13qcmj8hi13jdfue37</string>
	<key>API_KEY</key>
	<string>AIzaSyAKLBLwkC1aXO55sw4Oa9gSYN1ehOCXzE0</string>
	<key>GCM_SENDER_ID</key>
	<string>834655197535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ionicframework.freedrink948636</string>
	<key>PROJECT_ID</key>
	<string>boozie-dc596</string>
	<key>STORAGE_BUCKET</key>
	<string>boozie-dc596.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:834655197535:ios:c8c254de3872cda0</string>
	<key>DATABASE_URL</key>
	<string>https://boozie-dc596.firebaseio.com</string>
</dict>
</plist>