<ion-view id="page2" hide-nav-bar="true">

<ion-header-bar align-title="center" class="bar-positive" style=" background: url(img/header.jpg) no-repeat; background-size: cover; height: 50px; padding-top: 16px">
<div class="buttons" style="margin-top: 0;">
    <button ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item" style=""><i class="icon ion-android-arrow-back"></i></button>
    <h1 class="title" style=" top: 7px; line-height: 50px">{{'Change_Password'| translate}}</h1>
  </div>
 
 
</ion-header-bar>
    <ion-pane>
         <form name="ChangePassword" ng-submit="ChangePassword.$valid && change_password()" novalidate/>
       <ion-content scroll="true" padding="true" style="background: url({{Dynam_image}}) no-repeat center;background-size:cover; top:45px;" class="manual-ios-statusbar-padding has-header has-footer">
   <div class="form_sinn">
         <div class="list">
           
                 <label class="item item-input" style="background: transparent none repeat scroll 0% 0%; border-top: medium none ! important; border-right: medium none ! important; border-left: medium none ! important; -moz-border-top-colors: none ! important; -moz-border-right-colors: none ! important; -moz-border-bottom-colors: none ! important; -moz-border-left-colors: none ! important; border-image: none ! important; margin-bottom: 2% ! important; border-bottom: 1px solid rgb(255, 255, 255);">
                  <input type="password" placeholder="{{'Old_Password'| translate}}" name="oldpassword" ng-model="data.oldpassword" required>
                </label>
            <div ng-show="ChangePassword.$submitted || ChangePassword.oldpassword.$touched">
            <div ng-show="ChangePassword.oldpassword.$error.required" class="help-inline">{{'Field_required'| translate}}</div>
            </div>
        
                <label class="item item-input" style="background: transparent none repeat scroll 0% 0%; border-top: medium none ! important; border-right: medium none ! important; border-left: medium none ! important; -moz-border-top-colors: none ! important; -moz-border-right-colors: none ! important; -moz-border-bottom-colors: none ! important; -moz-border-left-colors: none ! important; border-image: none ! important; margin-bottom: 2% ! important; border-bottom: 1px solid rgb(255, 255, 255);">
                    <input type="password" placeholder="{{'New_Password'| translate}}" name="password" ng-model="data.password" required>
                </label>
            <div ng-show="ChangePassword.$submitted || ChangePassword.password.$touched">
            <div ng-show="ChangePassword.password.$error.required" class="help-inline">{{'Field_required'| translate}}</div>
            </div>
          
                 <label class="item item-input" style="background: transparent none repeat scroll 0% 0%; border-top: medium none ! important; border-right: medium none ! important; border-left: medium none ! important; -moz-border-top-colors: none ! important; -moz-border-right-colors: none ! important; -moz-border-bottom-colors: none ! important; -moz-border-left-colors: none ! important; border-image: none ! important; margin-bottom: 2% ! important; border-bottom: 1px solid rgb(255, 255, 255);">
                    <input type="password" placeholder="{{'Confirm_Password'| translate}}" name="cpassword" ng-model="data.cpassword"  required>
<!--                    <div ng-messages="ChangePassword.cpassword.$error" ng-messages-include="templates/messages.html"></div>-->
                </label>
            <div ng-show="ChangePassword.$submitted || ChangePassword.cpassword.$touched">
            <div ng-show="ChangePassword.cpassword.$error.required" class="help-inline">{{'Field_required'| translate}}</div>
            </div>
                

        </div>
    </div>
    </ion-content>

         <div class="bar bar-footer" style="padding:0px;">
             <button type="submit" class="button button_purpel1  button-block" style="margin: 0px;font-size: 16px; border-radius:0; opacity:1;">{{'SAVE'|translate}}</button>
         </div>
                </form>
            </ion-pane>
</ion-view>
<style>
input[type="password"]{
	color: #fff;
opacity: 1 !important;}
</style>