<ion-view title="CHAT" id="page25" style=""  hide-nav-bar="true">

<ion-header-bar align-title="center" class="bar-positive" style="background:url(img/header.jpg) no-repeat; background-size:cover;">
    <div class="buttons">
       <button class="button button-clear icon ion-navicon" menu-toggle="left" style="color:#fff; display:block;"></button>
    
    </div>
    	<h1 class="title" style="line-height:16px;" ng-if="currentLanguage == 'English'"><span class="top_title">{{listview.title}}</span> </h1>
   	<h1 class="title" style="line-height:16px;" ng-if="currentLanguage == 'Deutsche'"><span class="top_title">{{listview.title_german}}</span> </h1>
        <div class="buttons">
   		
 	</div>
    
 </ion-header-bar>
  <ion-content padding="true" style="background: url({{Dynam_image}}) no-repeat center;background-size:cover;" class="has-header ">
  
  
 <div class="form_sinn" ng-if="currentLanguage == 'English'">
<div class="faq" >
    <div data-ng-bind-html="trustAsHtml(listview.description)"></div>
    </div>
 </div>
      <div class="form_sinn" ng-if="currentLanguage == 'Deutsche'">
  <div class="faq" >
         <div data-ng-bind-html="trustAsHtml(listview.description_german)"></div>

    </div> 
      </div>
    
  </ion-content>
  

</ion-view>

