<ion-view style="" id="page1" title="slider" hide-nav-bar="true">
   
        <ion-slide-box show-pager="true"  on-slide-changed="slideHasChanged($index)">
  <ion-slide>
    <div class="box blue">
    	<img width="100%" src="img/slide1.jpg" alt="" />
        <div class="slide_container">
         <div style="width: 100%; height:14vh;" class="spacer"></div>
<center><img src="img/logo2.png" style="width: 60%;" /></center>
            <div style="width: 100%; height:13vh;" class="spacer"></div>
            <h4>{{"First_rounds_on_us_every_day" | translate}}</h4>
            <div style="width: 100%; height:0;" class="spacer"></div>
            <div class="login_type">
                 <div class="box011" style="margin-top: 10px;float: left;">
            <a class="login_box" ng-click="facebookSignIn()">
<!--              	<h5>Sign Up with</h5>-->
                 <img class="pick" src="img/facebook image.png" />
              </a>
            </div>
            <div class="full_box01">
                 <div class="box022">
              <a class="login_box" style="border:none;" ui-sref="menu.signup">
              	<h5>{{"Sign_Up_with" | translate}}</h5>
                <h3>{{"EMAIL" |translate}}</h3>
              </a>
            </div>
            
            </div>
                
                
            </div>
           
            <button ui-sref="menu.login" class="button button-light  button-block button-clear button_txt1" id="createProfile-button3">{{"Already_have_an_account"| translate}}<span style="color:#29e6f2;">{{ "Sign_In" | translate}}</span></button>
            
        </div>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="box blue">
    	<img width="100%" src="img/slide6.jpg" alt="" />
        <div class="slide_container">
          <div style="width: 100%; height:14vh;" class="spacer"></div>
<center><img src="img/logo2.png" style="width: 60%;" /></center>
            <div style="width: 100%; height:13vh;" class="spacer"></div>
            <h4 class="padding">{{"Bring_your_friends_along_and_their_first_drink_is_on_us_too" | translate}}</h4>
            <div style="width: 100%; height:0;" class="spacer"></div>
            <div class="login_type">
                  <div class="box011" style="margin-top: 10px;float: left;">
            <a class="login_box" ng-click="facebookSignIn()">
<!--              	<h5>Sign Up with</h5>-->
                 <img class="pick" src="img/facebook image.png" />
              </a>
            </div>
            <div class="full_box01">
                 <div class="box022">
              <a class="login_box" style="border:none;" ui-sref="menu.signup">
              	<h5>{{"Sign_Up_with" | translate}}</h5>
                <h3>{{"EMAIL" |translate}}</h3>
              </a>
            </div>
          
            </div>
            </div>
           
            <button ui-sref="menu.login" class="button button-light  button-block button-clear button_txt1" id="createProfile-button3">{{"Already_have_an_account"| translate}}<span style="color:#29e6f2;">{{ "Sign_In" | translate}}</span></button>
            
        </div>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="box blue">
    	<img width="100%" src="img/slide5.jpg" alt="" />
        <div class="slide_container">
         <div style="width: 100%; height:14vh;" class="spacer"></div>
<center><img src="img/logo2.png" style="width: 60%;" /></center>
            <div style="width: 100%; height:13vh;" class="spacer"></div>
            <h4 class="padding">{{"Enjoy_one_free_drink_a_day_at_the_best_bars_in_your_city"| translate}}</h4>
            <div style="width: 100%; height:0;" class="spacer"></div>
            <div class="login_type">
                  <div class="box011" style="margin-top: 10px;float: left;">
            <a class="login_box" ng-click="facebookSignIn()">
<!--              	<h5>Sign Up with</h5>-->
                 <img class="pick" src="img/facebook image.png" />
              </a>
            </div>
          <div class="full_box01">
                 <div class="box022">
              <a class="login_box" style="border:none;" ui-sref="menu.signup">
              	<h5>{{"Sign_Up_with" | translate}}</h5>
                <h3>{{"EMAIL"| translate}}</h3>
              </a>
            </div>
           
            </div>
            </div>
           
            <button ui-sref="menu.login" class="button button-light  button-block button-clear button_txt1" id="createProfile-button3">{{"Already_have_an_account"| translate}}<span style="color:#29e6f2;">{{ "Sign_In" | translate}} </span></button>
            
        </div>
    </div>
  </ion-slide>
</ion-slide-box>


 
</ion-view>